.App {
  text-align: center;
}

.App-header {
  background-color: lightslategray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.first-user-data {
  display: block;
  margin: 20px auto;
  width: 600px;
  max-width: 90%;
}

.first-user-data h2 {
  font-size: calc(8px + 2vmin);
  color: white;
  margin: 10px auto;
}

.first-user-data span {
  font-size: 16px;
  margin: auto 10px auto 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.first-user-data .column {
  width: 33%;
}